/* Make login button fit */

form.login {
    border: 1px solid red;
}

form.login input {
    height: 14px;
    width: 140px;
    background: #F5F5F5;
    border-radius: 2px;
}

@media (min-width:768px) {
.navbar-search .btn {margin:-9px 0 0 0;}
.navbar-search .derp .btn {margin: 0 0 0 0;}
}

.navbar-search {color: #999;}

.derp {margin: 0 0 0 0;}

#dangerbtn input { margin: 0 0 0 0;}

/* Fix padding issue on mobile version */
@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

/* Make login button fit -- END --*/
